.TaskDiv {
    width: 100%;
    background-color: rgb(255, 253, 158);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TaskLi {
    height: 25px;
    font-size: 14px;
    padding: 6px;
    margin: 10px;
}

.RemoveBtn {
    height: 20px;
    width: 20px;
    background-image: url("../../Assets/SVGs/remove.svg");
    padding: 10px;
    margin-right: 20px;
}
